<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="connectionStringName" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\KPI\3curs\2 семестр\декларативка\asda\Lab4\Lab4\Data\DBtest.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
	</connectionStrings>



</configuration>